<div class="container">
  
  <input 
    placeholder="Search a Coin"
    class="form-control bg-dark text-light border-0 my-4 text-center"
    autofocus
    type="text" 
    [(ngModel)]="filterName"
    (keyup)="filterCoins()"
  />

  <table class="table table-dark">
    <!-- HEADER TABLE -->
    <thead>
      <tr>
        <th *ngFor="let tag of columnTag">
          {{tag}}
        </th>
      </tr>
    </thead>
    <!-- BODY TABLE -->
    <tbody>
      <tr *ngFor="let coin of filteredCoins; index as i">
        <td>
          <span class="text-muted">{{i + 1}}</span>
        </td>
        <td>
          <img [src]="coin.image" alt="" style="width: 2rem;">
          <span class="ms-3">{{coin.name}}</span>
          <span class="ms-2 text-muted text-uppercase">{{coin.symbol}}</span>
        </td>
        <td>
          ${{coin.current_price}}
        </td>
        <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">
          {{coin.price_change_percentage_24h}}
        </td>
        <td>
          {{coin.total_volume.toLocaleString()}}
        </td>
      </tr>
    </tbody>
  </table>
</div>